// COLOR
$color-pr-1: #18aaf0;
$color-pr-2: #18c1f0;
$color-pr-3: #38e4ff;
$color-pr-4: #40c4ff;

$color-se-1: #973fff;
$color-se-2: #b474ff;
$color-se-3: #cb9fff;

// FONT-SIZE
$fs-sm: 12px;
$fs-md: 15px;
$fs-md-lg: 25px;
$fs-lg: 32px;
$fs-xl: 46px;

// FONT_WEIGHT
$fw-thin: 100;
$fw-normal: 300;
$fw-bold-1: 500;
$fw-bold-2: 700;

// FONT_FAMILY
$font-title: "Roboto", sans-serif;
$font-text: "Montserrat", sans-serif;
